{% extends "base.html" %}

{% block content %}
    <h1>Sign In</h1>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br>
            {{ form.username(size=32) }}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(size=32) }}
        </p>
        <p>
            {{ form.remember_me() }} {{ form.remember_me.label() }}
        </p>
        <p>
            {{ form.submit() }}
        </p>
    </form>
{% endblock %}

{# use {{ form.<field_name>.label }} where I want the field label, and {{ form.<field_name>() }} where I want the field. For fields that require additional HTML attributes, those can be passed as arguments. The username and password fields in this template take the size as an argument that will be added to the <input> HTML element as an attribute. This is how you can also attach CSS classes or IDs to form fields. #}